// <사이트 상단>
.siteHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  line-height: 60px;
  background: fade-out(#fff, 0.15);

  &Logo {
    float: left;
    font-family: enFont();
    letter-spacing: -0.5px;

    a {
      font-size: 21px;
      font-weight: 600;
      color: #00529c;

      &:hover {
        text-decoration: none;
      }
    }
  }

  > .container {
    @include clear-fix();
  }

  &Profile {
    .img-wrap{
      @include img-wrap();
      img {
        @include circle(30px);
      }
    }
  }
}
// </사이트 상단>

// <사이트 하단>
.siteFooter {
  padding: 20px 0;
  background: #424242;
  color: #adadad;
  font-size: 12px;

  &Nav {
    a {
      font-size: 13px;
      color: #fff;
      float: left;

      + a:before {
        content: "";
        margin: -1px 10px 0;
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 13px;
        background: #fff;
      }
    }
    @include clear-fix();
  }

  &Copyright {
    font-family: enFont();
    a {
      font-weight: bold;
    }
  }
}
// </사이트 하단>

// <사이트 컨텐츠 영역>
.siteContent {
  margin: 100px 0 20px;
}
// </사이트 컨텐츠 영역>

// <버튼 영역>
.btnGroup {
  margin-top: 20px;
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}
// </버튼 영역>

// <테이블 상단>
.el-table .tableHeader {
  th {
    background-color: lighten(#06F, 20%);
    color: #fff;
  }
}
// </테이블 상단>

// <썸네일 관련>
.fileUploadLabel {
  input {
    display: none
  }
  span {
    display: inline-block;
    border-radius: 3px;
    background: #f0f9eb;
    color: #67c23a;
    border: 1px solid #c2e7b0;
    font-size: 13px;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background: #67c23a;
      border-color: #67c23a;
      color: #fff;
    }
  }
}
.thumbnail {
  display: block;
  &Wrap {
    margin-top: 10px;
    position: relative;
    display: inline-block;

    img {
      vertical-align: middle;
      border: 2px dashed #ddd;
      max-width: 400px;
      max-height: 300px;
    }
  }
  &Edit {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    background: fade-out(#000, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
// </썸네일 관련>