// <사이트 상단>
.siteHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  line-height: 60px;
  background: fade-out(#fff, 0.15);

  &Logo {
    float: left;

    a {
      font-size: 21px;
      font-weight: 600;
      color: #00529c;

      &:hover {
        text-decoration: none;
      }
    }
  }

  > .container {
    @include clear-fix();
  }

  &Profile {
    .img-wrap{
      @include img-wrap();
      img {
        @include circle(30px);
      }
    }
  }
}
// </사이트 상단>

// <사이트 하단>
.siteFooter {
  padding: 20px 0;
  background: #424242;
  color: #adadad;
  font-size: 12px;

  &Nav {
    a {
      font-size: 13px;
      color: #fff;
      float: left;

      + a:before {
        content: "";
        margin: -1px 10px 0;
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 13px;
        background: #fff;
      }
    }
    @include clear-fix();
  }

  &Copyright {
    a {
      font-weight: bold;
    }
  }
}
// </사이트 하단>

// <사이트 컨텐츠 영역>
.siteContent {
  padding:100px 0 20px;
}

.repository {
  &Content {
    &Header {
      margin: 0;
      font-size: 21px
    }

    &Item {
      line-height: 150%
    }
  }
}
// </사이트 컨텐츠 영역>

// <버튼 영역>
.btnGroup {
  margin-top: 20px;
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}