html {
  scroll-behavior: smooth;
}


body {
  font-size: 15px;
  font-family: krFont();
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}